* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

/*screen1*/

.hide {
  display: none;
}

body {
  background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
  font-size: 1.5rem;
  display: grid;
  place-items: center;
  height: 100vh;
}

main {
  background: #ffffff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
  border-radius: .5rem;
  padding: 4.8rem 6.4rem 6.4rem;
  width: min(42.8rem, 90%);

}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.4rem;
  text-align: center;
}

p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

h1, p {
  color: hsla(238, 27%, 28%, 1);
}

.biscuit:hover {
  animation: Shake 0.5s linear infinite;
}

/*screen2*/

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.7rem;
  text-align: center;

}

.screen2 p {
  font-family: 'Dancing Script';
  font-size: 2.4rem;
  background: hsla(198, 32%, 92%, 1);
  padding: 1rem;
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
  margin-bottom: 1.7rem;
}

.screen2 button {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  background: hsla(35, 100%, 50%, 1);
  padding: 1.6rem;
  border-radius: .4rem;
  margin-left: 6.3rem;
  border: none;
}

@keyframes Shake {
  0% {
    transform: rotate(4deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(4deg);
  }
}